body {
    background-color: pink;
}
header, nav {
    font-family:"BB Manual Mono Pro TX", sans-serif;
    text-align: center;
}

h1 {
    font-size: 150px;
}
h2 { 
    font-size: 50px;
    font-weight:200;
}

